{% extends 'home/base.html.twig' %}

{% block title %}Edit Categorie{% endblock %}

{% block body %}
<div class="container">
    <h2>Edit my profile</h2>
    
    {{ include('new_condidature/_formProfile.html.twig', {'button_label': 'Update'}) }}
    
    
</div>


{% endblock %}
