{{ form_start(form) }}
<div class="form-group"> 
    {{ form_widget(form, {'attr': {'class': 'form-input'}}) }}
</div>
<div class="form-group"> 
    <button class="btn">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
